*{
            margin: 0;
            padding: 0;
        }
    	h1,h2,h3{
    		text-align: center;
    		color: lightblue;    	
    	}    
    	h3{
    		color: grey;
    		font-family: 'Lemonada', cursive;
    	}
    	p{
    		text-align: justify;
    		word-spacing: 2px;
    		font-family: 'Russo One', sans-serif;    		

    	}
        #diferentinho{
            text-align: center;
            font-family: 'Orbitron', sans-serif;
            color: red;
        }
        .par_gang{
            text-align: center;
            color: #1831AE;
            font-family: 'Bangers', cursive;
        }
        span{
            color: orange;
            font-family: 'Russo One', sans-serif;
        }
        header{
            border: 10px groove red;
            background-color: orange;
            padding: 10px;
            margin-right: 500px;
            margin-left: 500px;
        }